$color-black: #000000;
$color-white: #ffffff;
$color-yellow: #fecd2f;
$color-dark-grey: #333333;
$color-light-grey: #aaaaaa;
$font-stack-body: 'Georgia', 'Palatino', serif;
$font-stack-title: 'Gill Sans', 'Century Gothic', sans-serif;
